@model IEnumerable<FlowerServiceModel>



  <div class="row" style="margin-left: 35px;">
    @foreach(var flower in Model)
    {
      <div class="col-md-2">

       <div class="card" style="width: 11rem;">
        <img class="card-img-top mb-3" src="@flower.ImageURL">
         <div class="card-body text-center .custom-pink-bg">

          <h5 class="card-title">@flower.FlowerName</h5>

          <p class="card-text">@flower.FlowerPrice $</p>
          <a asp-controller="Flowers" asp-action="Details" asp-route-id="@flower.Id" class="btn">Details</a>
       @if (SignInManager.IsSignedIn(User))
       {
         var userId = User.Id();
         var userIsAdmin = User.IsAdmin();

        @if (!userIsAdmin)
        {
            <form method="post" asp-controller="Flowers" asp-action="AddToCart">
                <input name="UserId" class="d-none" value="@userId">
                <input name="FlowerId" class="d-none" value="@flower.Id">
                <input name="FlowerName" class="d-none" value="@flower.FlowerName">
                <input name="FlowerPrice" class="d-none" value="@flower.FlowerPrice">
                <input name="ImageURL" class="d-none" value="@flower.ImageURL">
                <input class="btn btn-custom" type="submit" value="Add to Cart">
            </form>
        }
        else if (userIsAdmin)
        {
            <a asp-controller="Flowers" asp-action="Edit" asp-route-id="@flower.Id" class="btn btn-custom">Edit</a>
            <a asp-controller="Flowers" asp-action="Delete" asp-route-id="@flower.Id" onclick="DeleteFlower()" class="btn btn-custom">Delete</a>

              <script>
                function DeleteFlower()
                { 
                    
                 if (confirm("Are you sure you want to DELETE this flower?"))
                 {
                 } 
              
                 }
              </script>

        }
       }  
         </div>
       </div>
      </div>
    }
  </div>