@model FlowerServiceModel


  <div class="row" style="margin-left: 35px;">
      <div class="col-md-3">

       <div class="card">
        <img class="card-img-top" src="@Model.ImageURL">
         <div class="card-body text-center">

          <h5 class="card-title">@Model.FlowerName</h5>

          <p class="card-text">@Model.FlowerPrice $</p>


       @if (SignInManager.IsSignedIn(User) && !User.IsAdmin())
       {
         var userId = User.Id();
         var userIsAdmin = User.IsAdmin();

            <form method="post" asp-controller="Flowers" asp-action="AddToCart">
                <input name="UserId" class="d-none" value="@userId">
                <input name="FlowerId" class="d-none" value="@Model.Id">
                <input name="FlowerName" class="d-none" value="@Model.FlowerName">
                <input name="FlowerPrice" class="d-none" value="@Model.FlowerPrice">
                <input name="ImageURL" class="d-none" value="@Model.ImageURL">
                <input class="btn btn-custom" type="submit" value="Add to Cart">
            </form>
        
       } 
         </div>
       </div>
      </div>
      <div class="col-md-3">
          <p class="card-text">@Model.Info</p>
          </div>
    
  </div>