@model CartQueryServiceModel
    
 @{
 ViewBag.Title = "My Flowers";
 }


  @if(!Model.Flowers.Any())
  {
    <h5 class="text-center mb-5" style="margin-top: 155px">Your Cart Is Currently Empty. Add Something To It!</h5>
    <a  class="btn btn-custom" style="margin-left: 600px" asp-area="" asp-controller="Flowers" asp-action="All">Flowers</a>
  }

   @if(Model.Flowers.Any())
   {
       var userId = User.Id();
     <div class="row" style="margin-left: 35px;">
       @foreach(var flower in Model.Flowers){

        <div class="col-md-2">

         <div class="card" style="width: 11rem;">

             <img class="card-img-top mb-3" src="@flower.ImageURL">

           <div class="card-body text-center .custom-pink-bg">

              <h5 class="card-title">@flower.FlowerName</h5>

              <p class="card-text">@flower.FlowerPrice $</p>
   
                  <form method="post" asp-controller="Flowers" asp-action="DeleteFromCart">
                      <input name="userId" class="d-none" value="@userId">
                      <input name="flowerInCartId" class="d-none" value="@flower.FlowerId">
                      <input class="btn btn-custom" type="submit" value="Remove">
                  </form>

           </div>
         </div>
        </div>
       }

       @if(!Model.Addresses.Any())
       {
         <a class="btn btn-custom" style="width:150px; height: 35px;" asp-area="" asp-controller="Flowers" asp-action="AddAddress">Add an Address</a>
       }

        

     </div>
       <form method="post" asp-controller="Flowers" asp-action="Order">
           
           <input name="UserId" class="d-none" value="@userId">
           @foreach (var flower in Model.Flowers)
           {

               <input name="Flowers" class="d-none" value="@flower.FlowerName">
   
               <input name="TotalPrice" class="d-none" value="@flower.FlowerPrice">
   
           }

           @if (Model.Addresses.Any())
           {
            <select name="addressId">
             @foreach (var address in Model.Addresses)
             {
               
               <option value="@address.AddressInfo, @address.PopulatedPlace, @address.FullName, @address.PhoneNumber">
                   @address.AddressInfo, @address.PopulatedPlace
               </option>

             }
            </select>
            <a class="btn btn-custom" style="width:150px; height: 35px;" asp-area="" asp-controller="Flowers" asp-action="AddAddress">New Address</a>
           }
           <input class="btn btn-custom" style="margin-top: 35px;" type="submit" value="ORDER">
   
       </form>

   }